name: main

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.0
        with:
          mongodb-version: 8.0
          mongodb-port: 27017

      - name: Restore
        run: dotnet restore

      - name: Format
        run: dotnet format --no-restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test
        run: dotnet test --no-build --no-restore -v normal -c Release /p:CollectCoverage=true /p:Threshold=100 /p:ThresholdType=branch

      - name: Pack
        run: dotnet pack --no-build --no-restore -c Release -o .

      - name: Publish
        run: dotnet nuget push ClearDomain.*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_KEY }} --skip-duplicate
